body {
  font-size: $font_size_medium;
}

body,
.bg-info {
  background-color: $light_grey;
}

.bg-primary {
  background: $red;
  color: $light_grey;
}

.outline-heading {
  font-size: $font_size_medium;
  font-weight: bold;
  text-transform: uppercase;
  color: $red;
  margin: 0 auto 14px;

  &::after {
    content: "\A \2014";
    white-space: pre;
    position: relative;
    top: 6px;
  }
}

svg {

  display: block;

  .bg {
    fill: none;
  }

  .icon {
    fill: $light_grey;
  }
}


.parallax {
  //height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
