body.modal-open-noscroll {
  margin-right: 0!important;
  overflow: hidden;
}
.modal-open-noscroll #main_navigation {
  margin-right: 0!important;
}

.modal-btn-top {
  position: fixed;
  top: $w-sm;
  left: 50%;
  // translate left half of button width (25px) + half of scrollbar width (8px)
  // hacky solution that I'm not proud of
  transform : translate(-33px,0);
  -webkit-transform: translate(-33px,0);
  -ms-transform: translate(-33px,0);
  -o-transform: translate(-33px,0);
  z-index: 1055;
}

.modal-btn-bottom {
  position: absolute;
  bottom: $w-sm;
  left: 50%;
  transform : translate(-50%,0);
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  z-index: 40;
}

.modal-fullscreen {
  background-color: #fff;
  padding-right: 15px; // prevents modal from scrolling right. dunno why.

  .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: $w-md;

    // tangentially related to github issue #20
    .container-modal .row {
      margin: auto 0;
    }

    img {
      margin-bottom: 30px;
    }

    .section {
      padding: $w-lg 0;
    }
  }

  &.modal-backdrop-fullscreen {
    background: transparent;
  }
}

.project-data {
  margin-top: 54px;
  @extend .g-bold;
  font-size: $font_size_small;
  color: $medium_grey;
  li {
    position: relative;
    padding: $w-xs 0;
    &:not(:last-child):after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $medium_grey;
      height: 3px;
      border-radius: 3px;
    }
  }
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* overrides for bootstrap default styles  */
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: inherit;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: inherit;
  }
}
