.modal-fullscreen {
  background-color: #fff;

  .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    img {
      margin-bottom: 30px;
    }

    .modal-btn-top {
      margin-top: 34px;
      position: fixed;
      transform : none;
      -webkit-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
    }
    .modal-btn-bottom {
      margin-bottom: 34px;
    }

    .section {
      padding: 140px 0;
    }
  }

  &.modal-backdrop-fullscreen {
    background: transparent;
  }
}

.project-data {
  margin-top: 54px;
  @extend .g-bold;
  font-size: $font_size_small;
  color: $medium_grey;
  li {
    position: relative;
    padding: 16px 0;
    &:not(:last-child):after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $medium_grey;
      height: 3px;
      border-radius: 3px;
    }
  }
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* overrides for bootstrap default styles  */
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: inherit;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: inherit;
  }
}
