.modal-fullscreen {
  background-color: #fff;

  .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.modal-backdrop-fullscreen {
    background: transparent;
  }
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

/* overrides for bootstrap default styles  */
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: inherit;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: inherit;
  }
}