section {
padding-top: $w-lg;
  > .row:not(:first-of-type) {
    padding-top: $w-md;
  }
}

#hero {
  padding: 170px 0;
  background-image: url('./../media/charlie-hero-cropped.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0 center;
  background-repeat: no-repeat;

  h2, h3 {
    line-height: 1;
    margin: 0.4em;
    margin-bottom: 10px;
    color: $light_grey;
  }
}

#work {

  border-bottom: $project-border solid $dark_grey;

  .project {
    position: relative;
    // doesn't seem right that border needs to be in there twice, but :shippit:
    height: calc(#{ $project-border
                 + $project-spacer
                 + $project-image
                 + $project-spacer
                 + $button-height
                 + $project-spacer
                 + $project-border });
    background: #ddd;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    border-width: $project-border 0 0;
    border-style: solid;
    border-color: $dark_grey;
    vertical-align: text-bottom;
    &:last-of-type {
      // after refactoring calc on height of project-inner,
      // moving this to #work itself... because deadlines
      // border-bottom-width: $project-border;
    }

    .project-inner {
      position: absolute;
      bottom: $w-sm;
      width: 100%;

      img {
        margin: $project-spacer 0;
      }
    }
  }
}

#location-banner {
  .message {
    padding: $w-sm 0;
  }
}

#location {

}

@media screen and (max-width: 767px) {
  #experience {
    img {
      padding-top: 10px;
    }
  }
}

#quotes {
  .carousel {
    .carousel-inner {
    }

    blockquote {
      border-left: none;
      text-transform: uppercase;
      margin: 0;
      padding: $w-lg 0;
      p {
        line-height: 1.6;
      }

      footer {
        font-size: $font_size_small;
        line-height: 2;
        margin-top: 8px;
        color: $light_grey;
      }
    }
  }
}

#break_time {
  height: 420px;
  margin-top: $w-lg;
  background: url('./../media/charlie-2nd-hero.jpg') no-repeat scroll center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

// iOS Blocker - only shows parallax effect on:
// Safari 5.1+, Chrome 11, 15+ (and Opera 14+), Android Browser 4+, Android OS 4.0+
// Firefox 10+,
// Edge 12+
// http://browserstrangeness.bitbucket.org/css_hacks.html#webkit
_:-webkit-full-screen,
_:-webkit-full-screen-ancestor,
:root #break_time {
  background-attachment: fixed;
}
,
_:-moz-full-screen,
_:-moz-full-screen-ancestor,
:root #break_time {
  background-attachment: fixed;
}
_:-ms-fullscreen, :root #break_time,
_:-ms-lang(x), :root #break_time
{
  background-attachment: fixed;
}



#booking {
  .booking-form {
    max-width: 602.7px; // width of #main_navigation nav ul
    margin: $w-md auto 0;
  }
  input, textarea {
    display: block;
    width: 100%;
    padding-bottom: $w-xs;
    font-size: $font_size_small;
    line-height: 1;
    color: $dark_grey;
    background-color: transparent;
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
    &:focus {
      outline: none;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    /*
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    */
  }
  label {
    display: none;
  }

  textarea {
    height: 260px;
  }

  .input-underline {
    position: relative;
    margin-bottom: 30px;
    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $dark_grey;
      height: 3px;
      border-radius: 3px;
    }
  }

  button {
    margin-top: 10px;
  }

}


#footer {
  margin-bottom: $w-sm;
}
