section {
  padding: 70px 0;
  > .row:not(:first-of-type) {
    padding-top: 70px;
  }
}

#hero {
  padding: 168px 0;
  margin-bottom: 70px;
  background-image: url('./../media/charlie-hero-cropped.png');
  background-size: cover;
  background-position: 0 center;
  background-repeat: no-repeat;

  h2, h3 {
    line-height: 1;
    margin: 0;
    margin-bottom: 18px;
    color: $light_grey;
    text-shadow: 1px 1px 5px $medium_grey;
  }
}

#work {

  .project {
    position: relative;
    height: 232px; // 200px article + 16 borders (top and bottom)
    background: #ddd;
    background-size: cover;
    background-position-x: center;
    border-width: 16px 0 0;
    border-style: solid;
    border-color: $dark_grey;
    vertical-align: text-bottom;
    &:last-of-type {
      border-bottom-width: 16px;
    }

    .project-inner {
      position: absolute;
      bottom: 34px;
      width: 100%;

      img {
        margin-bottom: 18px;
      }
    }
  }
}

#location-banner {
  .message {
    padding: 34px 0;
  }
}

#location {

}

@media screen and (max-width: 767px) {
  #experience {
    img {
      padding-top: 10px;
    }
  }
}

#quotes {
  .carousel {
    .carousel-inner {
    }

    blockquote {
      border-left: none;
      text-transform: uppercase;
      margin: 0;
      padding: 140px 0;
      p {
        line-height: 1.6em;
      }

      footer {
        font-size: $font_size_small;
        line-height: 3.4em;
        color: $light_grey;
      }
    }
  }
}

#break_time {
  height: 420px;
  margin: 70px 0;
  background-image: url('./../media/charlie-2nd-hero.jpg');
}

#booking {
  .booking-form {
    max-width: 605px;
    margin: 70px auto;
  }
  input, textarea {
    display: block;
    width: 100%;
    padding-bottom: 16px;
    font-size: $font_size_small;
    line-height: 1em;
    color: $dark_grey;
    background-color: transparent;
    background-image: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    resize: none;
    &:focus {
      outline: none;
    }
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    /*
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    */
  }
  label {
    display: none;
  }

  textarea {
    height: 260px;
  }

  .input-underline {
    position: relative;
    margin-bottom: 30px;
    &:after {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: $dark_grey;
      height: 3px;
      border-radius: 3px;
    }
  }

  button {
    margin-top: 10px;
  }

}

#footer {
  .btn {
    margin-bottom: 4px;
  }
}
