$font_size_xl:     34px;
$font_size_large:  20px;
$font_size_medium: 16px;
$font_size_small:  14px;

.font-size-small  { font-size: $font_size_small; }
.font-size-medium { font-size: $font_size_medium; }
.font-size-large  { font-size: $font_size_large; }
.font-size-xl     { font-size: $font_size_xl; }

// GothamRounded-Book
.g-book {
	font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
	font-style: normal;
	font-weight: 400;
}

// GothamRounded-Medium
.g-md {
	font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
	font-style: normal;
	font-weight: 500;
}

// GothamRounded-Bold
.g-bold {
	font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
	font-style: normal;
	font-weight: 700;
}

body {
	@extend .g-md;
}

h1, h2, h3, h4, h5, h6, p {
	line-height: 2;
	margin: 0;
	margin-bottom: 0.5em;
}

h4 {
  @extend .g-bold;
  font-size: $font_size_medium;
  text-transform: uppercase;
}

p {
	@extend .g-book;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.outline-heading {
  font-size: $font_size_medium;
  font-weight: bold;
  text-transform: uppercase;
  color: $red;
  margin-bottom: 0;

  &::after {
    content: "\A \2014";
    white-space: pre;
  }
}
/*
@media screen and (min-width: 767px) {
	.outline-heading::after {
		position: relative;
		top: -0.75em;
	}
}
*/
