$font_size_xl:     34px;
$font_size_large:  20px;
$font_size_medium: 16px;
$font_size_small:  14px;

$dark_grey:   rgba(64,  64,  62,  1);
$light_grey:  rgba(246, 244, 240, 1);
$medium_grey: rgba(155, 153, 152, 1);
$red:         rgba(165, 77,  64,  1);


body {
  font-size: $font_size_medium;
}

.font-size-small  { font-size: $font_size_small; }
.font-size-medium { font-size: $font_size_medium; }
.font-size-large  { font-size: $font_size_large; }
.font-size-xl     { font-size: $font_size_xl; }

.btn {
  background: $dark_grey;
  border-color: transparent;
  border-size: none;
  text-transform: uppercase;
  a {
    color: $light_grey;
    font-weight: bold;
  }
  &:hover {
    background: $red;
  }

  &.btn-primary {
    background: $red;
  }
}

.bg-primary {
  background: $red;
  color: $light_grey;
}

.letter-spacing-lg {
  letter-spacing: 2px;
}

#main_navigation {
    position: fixed;
    top: 10px;
    white-space:nowrap;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: visible;
    z-index: 10;

  .nav>li {
    display: inline;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }

    button {
      /* ensure that nav buttons don't "pop" when font-awesome icons load */
      min-width: 42px;
    }
  }
}

.outline-heading {

  h2 {
    font-size: $font_size_medium;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 0;

    &::after {
      content: "\A \2013";
      white-space: pre;
    }
  }
}

h4 {
  margin-top: 0;
  font-size: $font_size_medium;
  font-weight: bold;
  text-transform: uppercase;
}

.carousel {
  .carousel-inner {
  }

  blockquote {
    border-left: none;
    text-transform: uppercase;

    p {
      font-size: $font_size_xl;
    }

    footer {
      font-size: $font_size_medium;
      color: $light_grey;
    }
  }
}

#work {

  .project {
    padding: 20px;
    background: #ddd;
    border-width: 16px 0 0;
    border-style: solid;
    border-color: $dark_grey;
    &:last-of-type {
      border-bottom-width: 16px;
    }

    img {

    }
    button {
      clear: both;
    }
  } 
}

.modal-fullscreen {
  background: #ffffff;

  .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &.modal-backdrop-fullscreen {
    background: transparent;

    &.in {
      opacity: .97;
      filter: alpha(opacity=97);
    }
  }
}

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: 970px;
  }
}