{% set rowLeft = "col-sm-3 col-md-2 col-sm-offset-0 col-md-offset-1" %}
{% set rowRight = "col-sm-8 col-md-7 col-lg-6" %}


<section id="{% block slug %}{% endblock %}" class="{% block class %}{% endblock %}">
	{% block content %}
	{% endblock %}
</section>