<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <form>
      <input id="name" placeholder="Name" type="text" class="form-control">
      <input id="email" placeholder="Email" type="email" class="form-control">
      <input id="company" placeholder="Company name" type="text" class="form-control">
      <textarea id="message" placeholder="How can I help you?" class="form-control" rows="6"></textarea>
      <div class="text-center">
        <button type="submit" class="btn btn-default">Send</button>
      </div>
    </form>
  </div>
</div>