<footer class="text-center">
  
  <a class="btn btn-default" href="mailto:ctetro@chrlieco.com">ctetro@chrlieco.com</a>
  <button class="btn btn-default">Minneapolis, MN</button>
  <button class="btn btn-default">612.481.9481</button>

</footer>