{% extends "partials/section.njk" %}


{% block headline -%}
Footer
{%- endblock %}


{% block slug -%}
footer
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content %}
<footer class="text-center">
  <h2 class="sr-only">Footer</h2>
  <a class="btn" href="mailto:ctetro@chrlieco.com">ctetro@chrlieco.com</a>
  <span class="clearfix visible-xs-block"></span>
  <a href="https://www.google.com/maps/@44.9716471,-93.2745267,12z" target="_blank" class="btn">Minneapolis, MN</a>
  <span class="clearfix visible-xs-block"></span>
  <a href="tel:+1-612-481-9481" class="btn">612.481.9481</a>

</footer>
{% endblock %}
