{% extends "partials/section.njk" %}


{% block headline -%}
Footer
{%- endblock %}


{% block slug -%}
footer
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content %}
<footer>
  <h2 class="sr-only">Footer</h2>
  <nav class="text-center">
    <ul class="list-inline">
      <li>
        <a class="btn" href="mailto:ctetro@chrlieco.com">ctetro@chrlieco.com</a>
      </li>
      <li class="clearfix visible-xs-block"></li>
      <li>
        <a href="https://www.google.com/maps/@44.9716471,-93.2745267,12z" target="_blank" class="btn">Minneapolis, MN</a>
      </li>
      <li class="clearfix visible-xs-block"></li>
      <li>
        <a href="tel:+1-612-481-9481" class="btn">612.481.9481</a>
      </li>
    </ul>
  </nav>
</footer>
{% endblock %}
