git	{% set arrow_up %}
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 20 18">
	<g class="bg">
		<g class="icon">
			<rect transform="translate(10.117647 10.5)rotate(-270)" x="-7.12" y="-1.5" width="14.24" height="3" rx="3" class="undefined"/>
			<rect transform="translate(14.093597 6.093597)rotate(-315)" x="-7.12" y="-1.5" width="14.24" height="3" rx="3" class="undefined"/>
			<rect transform="translate(6.093597 6.093597)rotate(-225)" x="-7.12" y="-1.5" width="14.24" height="3" rx="3" class="undefined"/>
		</g>
	</g>
</svg>
{% endset %}


<!--
<g class="icon" style="fill-rule:evenodd;" transform="matrix(1,0,0,1,22.5,22.5)">
	<path d="M8-0.5-11.8-20.3c-2.4-2.4-6.2-2.4-8.5 0-2.4 2.4-2.3 6.1 0 8.5L-0.5 8-20.3 27.8c-2.4 2.4-2.4 6.2 0 8.5 2.4 2.4 6.1 2.3 8.5 0L8 16.5 27.8 36.3c2.4 2.4 6.2 2.4 8.5 0 2.4-2.4 2.3-6.1 0-8.5L16.5 8 36.3-11.8c2.4-2.4 2.4-6.2 0-8.5-2.4-2.4-6.1-2.3-8.5 0L8-0.5Z" />
</g>-->
{% set close %}

<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 64 64">
	<g class="icon">
		<rect transform="rotate( 45 32 32)" x="-11" y="26" width="86" height="12" rx="6"/>
		<rect transform="rotate(-45 32 32)" x="-11" y="26" width="86" height="12" rx="6"/>
	</g>
</svg>

{% endset %}

{% set hamburger %}


<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 64 64">
	<g class="icon">
		<rect x="0" y="0"  width="64" height="12" rx="6"/>
		<rect x="0" y="26" width="64" height="12" rx="6"/>
		<rect x="0" y="52" width="64" height="12" rx="6"/>
	</g>
</svg>

{% endset %}
