{% set arrow_up %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 64 64">
	<g class="bg">
		<g class="icon">
			<rect x="26" y="0" height="64px" width="12px" rx="6"/>
			<rect transform="rotate( 45 32 0)" x="29" y="0" height="45px" width="12px" rx="6"/>
			<rect transform="rotate(-45 32 0)" x="23" y="0" height="45px" width="12px" rx="6"/>
		</g>
	</g>
</svg>
{% endset %}


{% set close %}
<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 64 64">
	<g class="icon">
		<rect transform="rotate( 45 32 32)" x="-11" y="26" width="86" height="12" rx="6"/>
		<rect transform="rotate(-45 32 32)" x="-11" y="26" width="86" height="12" rx="6"/>
	</g>
</svg>
{% endset %}


{% set hamburger %}
<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 64 64">
	<g class="icon">
		<rect x="0" y="0"  width="64" height="12" rx="6"/>
		<rect x="0" y="26" width="64" height="12" rx="6"/>
		<rect x="0" y="52" width="64" height="12" rx="6"/>
	</g>
</svg>
{% endset %}
