<div id="{{ project.slug }}" class="modal modal-fullscreen" tabindex="-1" role="dialog">

  <button type="button" class="btn modal-btn-top" data-dismiss="modal">{{ icon.close }}<span class="sr-only">Close</span></button>

  <div class="modal-dialog">
    <div class="modal-content container-fluid">

      <div class="row bg-info">
        <div class="col-xs-12 container_modal">
          <div class="section">
            {% block summary %}
            {% endblock %}
            {% if credits %}
              {% call boot.row ('','') -%}
          		<ul class="project-data list-unstyled text-uppercase">
          			{% for credit in credits %}
          			<li>{{ credit }}</li>
          			{% endfor %}
          		</ul>
              {%- endcall %}
            {% endif %}
          </div>
        </div><!-- .col-xs-12 -->
      </div><!-- .row -->

      <div class="container_modal">
        {% block description %}
        {% endblock %}
      </div>

      <button type="button" class="btn modal-btn-bottom scroll-top" title="Click to return on the top page">{{ icon.arrow_up }}</button>

    </div><!-- modal-content -->
  </div><!-- modal-dialog -->


</div><!-- .modal -->
