{% extends "partials/section.njk" %}

{% block header -%}
Main navigation menu
{%- endblock %}

{% block slug -%}
main_navigation
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content %}
<nav class="col-sm-12">
<!-- ATTN: comments below are inserted to remove unwanted whitespace between inline-block elements. -->
  <ul>
    <li>
      <a href="#" class="btn btn-primary mobile-show letter-spacing-lg" role="button">Charlie</a>
    </li><!--
 --><li class="visible-xs-inline-block">
      <a class="btn mobile-show toggle" role="button">
        <span class="icon-hamburger">{{ icon.hamburger }}</span>
        <span class="icon-close hidden">{{ icon.close }}</span>
      </a>
    </li><!--
 --><li class="clearfix visible-xs-block"></li><!--
 --><li>
      <a href="#work" class="btn" role="button">Work</a>
    </li><!--
 --><li>
      <a href="#process" class="btn" role="button">Process</a>
    </li><!--
 --><li class="clearfix visible-xs-block"></li><!--
 --><li>
      <a href="#booking" class="btn" role="button">Booking</a>
    </li><!--
 --><li>
      <a href="#" class="btn" role="button"><i class="fa fa-behance" aria-hidden="true"></i></a>
    </li><!--
 --><li>
      <a href="#" class="btn" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>
{% endblock %}
