<nav id="main_navigation">
  <ul class="nav">
    <li>
      <button type="button" class="btn btn-primary"><a class="letter-spacing-lg" href="#">Charlie</a></button>
    </li>
    <li>
      <button type="button" class="btn btn-default text-uppercase">
        <a href="#work">Work</a>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-default">
        <a href="#process">Process</a>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-default">
        <a href="#booking">Booking</a>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-default">
        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
      </button>
    </li>
    <li>
      <button type="button" class="btn btn-default">
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </button>
    </li>
  </ul>
</nav>
