<nav id="main_navigation">
  <ul class="">
    <li>
      <a href="#" class="btn btn-primary letter-spacing-lg" role="button">Charlie</a>
    </li>
    <li>
      <a href="#work" class="btn btn-default" role="button">Work</a>
    </li>
    <li>
      <a href="#process" class="btn btn-default" role="button">Process</a>
    </li>
    <li>
      <a href="#booking" class="btn btn-default" role="button">Booking</a>
    </li>
    <li>
      <a href="#" class="btn btn-default" role="button"><i class="fa fa-behance" aria-hidden="true"></i></a>
    </li>
    <li>
      <a href="#" class="btn btn-default" role="button"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    </li>
  </ul>
</nav>
