{% extends "partials/bootstrap2.njk" %}

{% block content %}
	<div class="row">
		<div class="{{ rowLeft }}">
			<h2 class="outline-heading">{% block headerLeft %}{% endblock %}</h2>
		</div>
		<div class="{{ rowRight }}">
			<h4>{% block headerRight %}{% endblock %}</h4>
			<p>{% block para1 %}{% endblock %}</p>
			{% if para2 %}
			<p>{% block para2 %}{% endblock %}</p>
			{% endif %}
		</div>
	</div>
{% endblock %}