<section id="{% block slug -%}{%- endblock %}" class="{%- block class %}{% endblock -%}">
	<h2 class="sr-only">{% block headline %}{% endblock %}</h2>
	{% block content -%}
	{%- endblock %}
</section>
