{% macro offset2col( headerLeft, headerRight, paragraph ) %}
<div class="row">
	<div class="col-sm-3 outline-heading">
	  <h2>{{ headerLeft }}</h2>
	</div>
	<div class="col-sm-9">
	  <h4>{{ headerRight }}</h4>
	  {{ paragraph }}
	</div>
</div>
{% endmacro %}

{% macro testfun( a1, a2, a3 ) %}
<div class="row">
	<div class="col-sm-3 outline-heading">
	  <h2>{{ a1 }}</h2>
	</div>
	<div class="col-sm-9">
	  <h4>{{ a2 }}</h4>
	  {{ a3 }}
	</div>
</div>
{% endmacro %}