.font-size-small {
  font-size: 14px; }

.font-size-medium {
  font-size: 16px; }

.font-size-large {
  font-size: 20px; }

.font-size-xl {
  font-size: 34px; }

.g-book, p {
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
  font-style: normal;
  font-weight: 400; }

.g-md, body {
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
  font-style: normal;
  font-weight: 500; }

.g-bold, h4, .btn, .project-data {
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B";
  font-style: normal;
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
  margin-bottom: 0.5em; }

h4 {
  margin-top: 0;
  font-size: 16px;
  text-transform: uppercase; }

p {
  line-height: 2;
  margin-bottom: 0.5em; }
  p:last-of-type {
    margin-bottom: 0; }

.outline-heading {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #a54d40;
  margin-bottom: 1em; }
  .outline-heading::after {
    content: "\A \2014";
    white-space: pre;
    position: relative;
    top: 6px; }

.btn {
  padding: 17px;
  background: #40403e;
  border-color: transparent;
  border-width: 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #f6f4f0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .btn:hover, .btn:hover:active {
    background: #a54d40;
    color: #f6f4f0;
    text-decoration: none;
    border-width: 0; }
  .btn:focus, .btn:active, .btn[disabled]:hover {
    background: #40403e;
    color: #f6f4f0; }
  .btn.btn-primary {
    background: #a54d40; }

.list-inline {
  display: inline;
  padding: 0;
  margin: 0; }
  .list-inline > li {
    display: inline-block;
    padding: 0;
    margin: 0 4px 4px 0; }
    .list-inline > li.visible-xs-block {
      margin-bottom: 0; }
    .list-inline > li:last-of-type {
      margin-right: 0; }
    .list-inline > li > a {
      min-width: 50px;
      min-height: 50px; }
      .list-inline > li > a:hover {
        background-color: #a54d40; }

#main_navigation {
  position: fixed;
  transform: translateX(-50%);
  top: 34px;
  left: 50%;
  padding: 0;
  white-space: nowrap;
  z-index: 30; }
  #main_navigation a.btn {
    padding: 17px 20.7px; }
  #main_navigation a.work,
  #main_navigation a.process {
    padding-left: 20.9px;
    padding-right: 20.9px; }
  #main_navigation a i.fa {
    width: 16px; }

@media screen and (max-width: 767px) {
  #main_navigation nav {
    /* The "expanded" class is added to
         the nav element with jQuery on click */ }
    #main_navigation nav ul li a {
      /* animate movement */
      position: relative;
      top: -17px;
      visibility: hidden;
      opacity: 0;
      z-index: 35; }
      #main_navigation nav ul li a.mobile-show {
        top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 50; }
    #main_navigation nav.expanded li a {
      top: 0;
      visibility: visible;
      opacity: 1;
      -webkit-transition: visibility 0.4s ease, opacity 0.4s ease;
      transition: visibility 0.4s ease, opacity 0.4s ease; }
  .nav-blur.blurred {
    position: fixed;
    /* keeps the lightbox window in the current viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f6f4f0;
    opacity: 0.9;
    filter: alpha(opacity=90);
    z-index: 25;
    -webkit-transition: background 0.8s ease-out;
    transition: background 0.8s ease-out; } }

section {
  padding-top: 140px; }
  section > .row:not(:first-of-type) {
    padding-top: 70px; }

#hero {
  padding: 177px 0;
  background-image: url("./../media/charlie-hero-cropped.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 0 center;
  background-repeat: no-repeat; }
  #hero h2, #hero h3 {
    line-height: 1;
    margin: 0;
    margin-bottom: 10px;
    color: #f6f4f0;
    text-shadow: 1px 1px 1px #9b9998; }

#work {
  border-bottom: 16px solid #40403e; }
  #work .project {
    position: relative;
    height: calc(215px);
    background: #ddd;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    border-width: 16px 0 0;
    border-style: solid;
    border-color: #40403e;
    vertical-align: text-bottom; }
    #work .project .project-inner {
      position: absolute;
      bottom: 34px;
      width: 100%; }
      #work .project .project-inner img {
        margin: 18px 0; }

#location-banner .message {
  padding: 34px 0; }

@media screen and (max-width: 767px) {
  #experience img {
    padding-top: 10px; } }

#quotes .carousel blockquote {
  border-left: none;
  text-transform: uppercase;
  margin: 0;
  padding: 140px 0; }
  #quotes .carousel blockquote p {
    line-height: 1.6; }
  #quotes .carousel blockquote footer {
    font-size: 14px;
    line-height: 2;
    margin-top: 8px;
    color: #f6f4f0; }

#break_time {
  height: 420px;
  margin-top: 140px;
  background: url("./../media/charlie-2nd-hero.jpg") no-repeat scroll center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

_:-webkit-full-screen-ancestor,
:root #break_time {
  background-attachment: fixed; }

#booking .booking-form {
  max-width: 602.7px;
  margin: 70px auto 0; }

#booking input, #booking textarea {
  display: block;
  width: 100%;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 1;
  color: #40403e;
  background-color: transparent;
  background-image: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
  /*
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    */ }
  #booking input:focus, #booking textarea:focus {
    outline: none; }
  #booking input:-webkit-autofill, #booking textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset; }

#booking label {
  display: none; }

#booking textarea {
  height: 260px; }

#booking .input-underline {
  position: relative;
  margin-bottom: 30px; }
  #booking .input-underline:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #40403e;
    height: 3px;
    border-radius: 3px; }

#booking button {
  margin-top: 10px; }

#footer {
  margin-bottom: 70px; }

body {
  font-size: 16px; }

body,
.bg-info {
  background-color: #f6f4f0; }

.bg-primary {
  background: #a54d40;
  color: #f6f4f0; }

svg {
  display: block; }
  svg .bg {
    fill: none; }
  svg .icon {
    fill: #f6f4f0; }

body.modal-open-noscroll {
  margin-right: 0 !important;
  overflow: hidden; }

.modal-open-noscroll #main_navigation {
  margin-right: 0 !important; }

.modal-btn-top {
  position: fixed;
  top: 34px;
  left: 50%;
  transform: translate(-33.5px, 0);
  -webkit-transform: translate(-33.5px, 0);
  -ms-transform: translate(-33.5px, 0);
  -o-transform: translate(-33.5px, 0);
  z-index: 1055; }

.modal-btn-bottom {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  z-index: 40; }

.modal-fullscreen {
  background-color: #fff;
  padding-right: 15px; }
  .modal-fullscreen .modal-content {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 140px; }
    .modal-fullscreen .modal-content .container-modal .row {
      margin: auto 0; }
    .modal-fullscreen .modal-content img {
      margin-bottom: 30px; }
    .modal-fullscreen .modal-content .section {
      padding: 140px 0; }
  .modal-fullscreen.modal-backdrop-fullscreen {
    background: transparent; }

.project-data {
  margin-top: 54px;
  font-size: 14px;
  color: #9b9998; }
  .project-data li {
    position: relative;
    padding: 16px 0; }
    .project-data li:not(:last-child):after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: #9b9998;
      height: 3px;
      border-radius: 3px; }

.modal-fullscreen .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; }

/* overrides for bootstrap default styles  */
@media (min-width: 768px) {
  .modal-fullscreen .modal-dialog {
    width: inherit; } }

@media (min-width: 992px) {
  .modal-fullscreen .modal-dialog {
    width: inherit; } }
