{% extends "base.njk" %}
{% import 'macros/bootstrap.njk' as boot %}

{% block content %}

  {% include "section/hero.njk" %}

  {% include "section/intro.njk" %}

  {% include "section/work.njk" %}

  {% include "section/process.njk" %}

  {% include "section/location-banner.njk" %}

  {% include "section/location.njk" %}

  {% include "section/quotes.njk" %}

  {% include "section/experience.njk" %}

<section id="break_time" class="container-fluid parallax">
  <!-- image is handled by CSS -->
</section>

{% include "section/booking.njk" %}

{% endblock %}