{% extends "base.njk" %}

{% block content %}

  {% include "section/hero.njk" %}

  {% include "section/intro.njk" %}

  {% include "section/work.njk" %}

  {% include "section/process.njk" %}

  {% include "section/location-banner.njk" %}

  {% include "section/location.njk" %}

  {% include "section/quotes.njk" %}

  {% include "section/experience.njk" %}

  {% include "section/break_time.njk" %}

  {% include "section/booking.njk" %}

{% endblock %}