{% extends "partials/offset2col.njk" %}

{% block slug -%}
intro
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block headerLeft -%}
Intro
{%- endblock %}

{% block headerRight -%}
Welcome to my portfolio
{% endblock %}

{%- block para1 %}
I am an independent consultant/freelancer that works with start ups, agencies, and corporate in-house teams. I have experience in pretty much all sectors, most recently in B2B/C Ecommerce, Engagement Programs, and Entertainment. Below are select examples that best represent my approach &amp; capabilities. Thanks for stopping by!
{% endblock %}