{% set media_dir = "./media/" %}
{% set colLeft    = "col-sm-3 col-md-2 col-sm-offset-0 col-md-offset-1" %}
{% set colRight   = "col-sm-8 col-md-7 col-lg-6" %}
{% set offsetRight = "col-sm-offset-3" %}{% macro row( headerLeft, headerRight, contentRight ) %}

<div class="row">
	{% if headerLeft -%}
	<div class="{{ colLeft }}">
		<h2 class="outline-heading">{{ headerLeft }}</h2>
	</div>
	{%- endif %}
	{% if headerRight or contentRight -%}
	<div class="{{ colRight }}{% if not headerLeft %} {{ offsetRight }}{% endif %}">
		{% if headerRight -%}
		<h4>{{ headerRight }}</h4>
		{%- endif %}
		{% if contentRight -%}
		{{ contentRight }}
		{%- endif %}
	</div>
	{%- endif %}
</div>
{% endmacro %}

{% macro offset1col( headerRight, contentRight ) %}
<div class="row">
	<div class="{{ colRight }}{{ offsetRight }}">
		<h4>{{ headerRight }}</h4>
		{{ contentRight }}
	</div>
</div>
{% endmacro %}

{% macro twoImg( img1, img2 ) %}
<div class="row">
	<div class="col-sm-3 col-sm-offset-2">
		<img src="1/{{ media }}{{ img1 }}" alt="" class="img-responsive">
	</div>
	<div class="col-sm-3">
		<img src="2/{{ media_dir }}{{ img2 }}" alt="" class="img-responsive">
	</div>
</div>
{% endmacro %}

{% macro oneImg( img1, imgAlt1 ) %}
<div class="row">
	<div class="col-xs-12">
		<img src="{{ site.media_directory }}{{ img1 }}" class="img-responsive" alt="{{ imgAlt1 }}">
	</div>
</div>
{% endmacro %}