{% macro offset2col( headerLeft, headerRight, para1, para2 ) %}
<div class="row">
	<div class="col-sm-2 col-sm-offset-- outline-heading">
		<h2>{{ headerLeft }}</h2>
	</div>
	<div class="col-sm-10 col-md-8 col-lg-7">
		<h4>{{ headerRight }}</h4>
		<p>{{ para1 }}</p>
		{% if para2 %}
		<p>{{ para2 }}</p>
		{% endif %}
	</div>
</div>
{% endmacro %}

{% macro offset2colImg( headerLeft, imgSrc, imgAlt ) %}
<div class="row">
	<div class="col-sm-2 col-sm-offset-- outline-heading">
		<h2>{{ headerLeft }}</h2>
	</div>
	<div class="col-sm-10 col-md-8 col-lg-7">
		<img src="{{ imgSrc  }}" alt="{{ imgAlt }}" >
	</div>
</div>
{% endmacro %}

{% macro offset1col( headerRight, content ) %}
<div class="row">
	<div class="col-sm-10 col-md-8 col-lg-7 col-sm-offset-2">
		<h4>{{ headerRight }}</h4>
		<p>{{ content }}</p>
	</div>
</div>
{% endmacro %}

{% macro twoImg( img1, img2 ) %}
<div class="row">
	<div class="col-sm-3 col-sm-offset-2">
		<img src="{{ img1 }}" alt="" class="img-responsive">
	</div>
	<div class="col-sm-3">
		<img src="{{ img2 }}" alt="" class="img-responsive">
	</div>
</div>
{% endmacro %}

{% macro oneImg( img1, imgAlt1 ) %}
<div class="row">
	<div class="col-xs-12">
		<img src="{{ img1 }}" class="img-responsive" alt="{{ imgAlt1 }}">
	</div>
</div>
{% endmacro %}