<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Charlie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>

    {% include "partials/navigation.njk" %}

    {% block content %}
    {% endblock %}

    <section class="container">
      {% include "partials/footer.njk" %}
    </section>

  <script type="text/javascript" src="js/scripts.js"></script>


  <!-- TESTING GROUNDS -->
  <h3>testing grounds, please ignore</h3>


  {% for project in projects %}
  <p>{{ project.title }}</p>
    {% for row in project.modal.content %}
      <p>
        {{ row }}
      </p> 
    {% endfor %}
  {% endfor %} 
  <br>
  {{ temp[0].preview_img }}
  <br>
  {% for ingredient, amount in food %}
    Use {{ amount }} of {{ ingredient }}
  {% endfor %}
  <br>
  {{ test[0].recognition_app.title }}
  <br>
  {% for smack, shack in test[0].recognition_app %} 
    {{ shack }}
  {% endfor %}
  <br>
  {{ projects[0].slug }} -- {{ projects[1].preview_img }}
  <br>
  {% set david = {message:"herp"} %}
  {{ david.message }}
  {% set david = {firstName:"John", lastName:"Doe", message:"derp"} %}
  {{ david.message }}
  <br>

</body>
</html>