{% extends "partials/section.njk" %}

{% block header -%}
Booking Contact Form
{%- endblock %}

{% block slug -%}
booking
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content %}

  {{ boot.row(
	  'Booking',
	  'This is how the magic begins',
	  '<p>Please fill out the form below and let me know how I can help.</p>
	  <p>You will get a response within 24 hours of inquiry.</p>'
  )}}

  {{ boot.row (
    '',
    '',
    '<form role="form" method="post" action="form.php">
	      <div class="input-underline">
          <label for="name">Name</label>
	        <input id="name" name="name" placeholder="Name" type="text" class="form-control" required>
	      </div>
	      <div class="input-underline">
          <label for="email">Email address</label>
	        <input id="email" name="email" placeholder="Email" type="email" class="form-control" required>
	      </div>
	      <div class="input-underline">
          <label for="company">Company</label>
	        <input id="company" name="company" placeholder="Company name" type="text" class="form-control">
	      </div>
	      <div class="input-underline">
          <label for="message">Message</label>
	        <textarea id="message" name="message" placeholder="How can I help you?" class="form-control" rows="6" required></textarea>
	      </div>
	      <div class="text-center">
	        <button type="submit" class="btn btn-default">Send</button>
	      </div>
	    </form>'
    )}}

{% endblock %}
