{% extends "partials/section.njk" %}

{% block headline -%}
Parallax image
{%- endblock %}

{% block slug -%}
break_time
{%- endblock %}

{% block class -%}
container-fluid parallax
{%- endblock %}

{% block content %}
  <!-- image is handled by CSS -->
{% endblock %}
