{% extends "partials/section.njk" %}

{% block headline -%}
Parallax image
{%- endblock %}

{% block slug -%}
break_time
{%- endblock %}

{% block class -%}
container-fluid
{%- endblock %}

{% block content %}
  <div class="row parallax"></div>
{% endblock %}
