{% extends "partials/section.njk" %}

{% block slug -%}
experience
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content %}
{{ boot.offset2colImg(
	"Experience",
	"./media/experience@2x.png", "622", "453",
	"Target, Coleman, Kmart, Warner Bros., Martin Williams, Best Buy, Geometry Global, General Mills, Preston Kelly, GAP, BI Worldwide, Cartoon Network")
}}
{% endblock %}