{% extends "partials/section.njk" %}

{% block slug -%}
experience
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content %}
{{ boot.offset2col(
	"Experience",
	"Brands",
	'<img src="media/experience@2x.png" width="622" height="453" alt="Target, Coleman, Kmart, Warner Bros., Martin Williams, Best Buy, Geometry Global, General Mills, Preston Kelly, GAP, BI Worldwide, Cartoon Network" class="img-responsive" >')
}}
{% endblock %}