{% extends "partials/section.njk" %}

{% block header -%}
Welcome to my portfolio
{%- endblock %}

{% block slug -%}
hero
{%- endblock %}

{% block class -%}
container-fluid parallax text-center
{%- endblock %}

{% block content %}
<h1 class="hidden">Charlie</h1>
<h2 class="font-size-xl">Consultant for hire</h2>
<h3>UI, UX, Print, Outdoor Enthusiast</h3>
{% endblock %}