{% extends "partials/section.njk" %}

{% block header -%}
Your place or mine
{%- endblock %}

{% block slug -%}
location-banner
{%- endblock %}

{% block class -%}
container-fluid
{%- endblock %}

{% block content %}
<div class="row bg-primary">
  <div class="col-xs-12">
    <div class="message font-size-xl text-center text-uppercase">Your place or mine</div>
  </div>
</div>
{% endblock %}
