{% extends "partials/section.njk" %}

{% block headline -%}
Location
{%- endblock %}

{% block slug -%}
location
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content %}
	{{ boot.row (
    "On-site",
    "Collaboration is where it's at",
    "<p>The work is just as important as the people behind it. I'll take the time to get to know your team and the unique set of challenges they face. For larger projects I'll inquire about internal processes, review business requirements, and go through a discovery &amp; planning phase. For smaller projects and support roles, general direction is all that's needed. I've gone from managing small teams to working under some incredible leaders. What's important are the relationships that get forged and making great work that everyone can be proud of. I'll maintain regular check-ins with team members so projects stay on track. A huge fan of open collaboration &amp; dialogue; a happy team is a productive one, every time.</p>")
	}}
  {{ boot.row( 
    "Off-site", 
    "Fast, transparent, reliable",
    "<p>Working remote keeps overhead low by only utilizing the services you need, when you need it. Every project starts with a discovery &amp; planning phase where I'll take the time to get to know your business and the challenges it faces. I'll ask for your feedback early and often, this saves time by only investing in solutions that are going to work. On the occasion extra help is needed, I have a pretty good network of talent from varying backgrounds to collaborate with. I'm also open to working with members of your team or preferred partners. With advance notice on-site meetings and work sessions can be accommodated.</p>")
  }}
{% endblock %}
