{% extends "partials/section.njk" %}

{% block headline -%}
Process
{%- endblock %}

{% block slug -%}
process
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block content -%}
	{{ boot.row (
    "Process",
    "Initiate a project", 
    "<p>Working on-site generally requires advanced notice while off-site work provides more flexibility. By carefully managing my schedule I can accommodate most requests. If I am not available to take on your project I would be happy to refer you to someone who can.</p>") 
  }}
{%- endblock %}