{% extends "partials/offset2col.njk" %}

{% block slug -%}
process
{%- endblock %}

{% block class -%}
container
{%- endblock %}

{% block headerLeft -%}
Process
{%- endblock %}

{% block headerRight -%}
Initiate a project
{% endblock %}

{%- block para1 %}
Working on-site generally requires advanced notice while off-site work provides more flexibility. By carefully managing my schedule I can accommodate most requests. If I am not available to take on your project I would be happy to refer you to someone who can.
{% endblock %}