{% extends "partials/section.njk" %}

{% block header -%}
Work Samples
{%- endblock %}

{% block slug -%}
work
{%- endblock %}

{% block class -%}
container-fluid text-center
{%- endblock %}

{% block content %}
  {% for project in projects %}
    {% include "project-preview.njk" %}
  {% endfor %}
{% endblock %}