{# don't currently need to import "macros/bootstrap.njk" as boot #}

<div id="{{ project.slug }}" class="modal modal-fullscreen fade">

  <div class="row">
    <div class="col-xs-12 text-center">
      <button type="button" class="btn btn-default" data-dismiss="modal"><span class="fa fa-close" aria-hidden="true"></span><span class="sr-only">Close</span></button>
    </div>
  </div>

  <div class="row bg-info">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-sm-3 outline-heading">
                  <h2>Work</h2>
                </div>
                <div class="col-sm-9">
                  <h4>{% block headline %}{% endblock %}</h4>
                  {% block summary %}
                  {% endblock %}
                </div>
              </div>
            </div>
          </div>
          {% if scope %}
          <div class="row">
          	<div class="col-sm-9 col-sm-offset-3">
          	  <ul class="project-data list-unstyled">
          	    <li>Scope: {% block scope %}{% endblock %}</li>
          	    <li>Client: {% block client %}{% endblock %}</li>
          	    <li>Dev: {% block dev %}{% endblock %}</li>
          	  </ul>
          	</div>
          </div>
          {% endif %}
        </div><!-- .modal-body -->
      </div><!-- .modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- .row -->

  <div class="row">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          {% block description %}
          {% endblock %}

          <div class='row'>
            <div class='col-xs-12 text-center'>
              <button type='button' class='btn btn-default'><i class='fa fa-arrow-up' aria-hidden='true'></i><span class='sr-only'>Back to top</span></button>
            </div>
          </div>

        </div><!-- .modal-body -->
      </div><!-- .modal-content -->
    </div><!-- modal-dialog -->
  </div><!-- .row -->

</div>