{% extends "partials/modal.njk" %}

{% block summary %}
	{% call boot.row ('Work', 'Uber Finder + Product Description Page') -%}
		<p>Discount Filter Store needed an easy way to help customers find the products they need with an advanced search feature. The process had to be fast and intuitive with the least amount of steps taken. They also wanted to rework their product description page to better reflect inventory, up-sell larger quantities, and cross-sell their own product line when appropriate. I worked mostly off-site advising on best practices in ecommerce and workflow. I also created wireframes, high-fidelity mock ups, presented creative, and produced final layouts.</p>
		{{ boot.credits(
			'UI, UX, Strategy, Art Direction',
			'Discount Filter Store',
			'Ian Gloude, David Monson')
		}}
	{%- endcall %}
{% endblock summary %}


{% block description %}

	<div class="section">
		{% call boot.row ('','Uber Finder') -%}
			<p>Access to the uber finder can be reached by tapping on the search icon in the top navigation bar. Users first select a category for the product they are searching for. They are then taken to the appropriate finder that will prompt them to make a selection under each category highlighted in a black bubble. The prompt in the black bubble is then replaced with the users selection and changed to a blue bubble. This process repeats until the finder identifies a match. If an error is made the user can simply scroll up, tap a previous selection, and make a new one.</p>
		{%- endcall %}
	</div>

	{{ boot.img(
		'dfs/1-Uber_Finder-Step1_r2@2x.jpg',
		'dfs/2-Uber_Finder-Step2_r2@2x.jpg')
	}}

	{{ boot.img(
		'dfs/3-Uber_Finder-Step3_r2@2x.jpg',
		'dfs/4-Uber_Finder-Step4_r2@2x.jpg')
	}}

	{{ boot.img(
		'dfs/5-Uber_Finder-expanded_r2@2x.jpg',
		'dfs/6-Uber_Finder-Results_r2@2x.jpg')
	}}

	<div class="section">
		{% call boot.row ('', 'Product Description Page') -%}
			<p>Many brand name products on their site have a comparable product produced by the supplier. A counter offer is strategically placed above the price to guide consumers to the supplier brand. Options for order quantity and frequency we're also redeveloped to better reflect the company offering.</p>
		{%- endcall %}
	</div>

	{{ boot.img(
		'dfs/PDP_Mobile@2x.jpg')
	}}

{% endblock description %}
