{% extends "partials/modal.njk" %}

{% block summary %}
	{% call boot.row ( 'Work', 'Rewards Website + Print') -%}
		<p>Scout needed a way to incentivize their employees by getting more recruiters to sign up for their services and grow its use among current customers. The solution was a rewards program that would increase visits to their site and use of their services. Scout Loyal features flexible rewards that are attractive to both recruiters and the companies they work for, and provides ways for Scout to show current customers they are valued.</p>
		<p>I worked mostly on-site to lead and mentor a small agency team. I was responsible for creative, wireframes, high-fidelity prototypes, client presentations, final layouts, and style guides.</p>
	{%- endcall %}
{% endblock summary %}


{% set credits = [
	'Dev: UI, UX, Design, Creative Direction',
	'Client: Scout Search Firm',
	'Dev: Robert Young, Producer: Demetrius Nelson, Writer: Jennifer Littlejohn'
	]
%}


{% block description %}

	<div class="section">
		{% call boot.row ('','Website') -%}
			<p>The site features a tutorial that outlines all program features and explains how points are earned. The site allows users to redeem earned points for rewards that can be assigned to employer/organization or individual recruiter. There is also a dashboard that displays user level, points earned, and a report that compares earning progress to the program average.</p>
		{%- endcall %}
	</div>

	{{ boot.imgXs(
		'scout/ScoutLoyalSite_Mobile_R3@2x.png')
	}}

	{{ boot.img(
		'scout/Scout_Login@2x.png')
	}}

	{{ boot.img(
		'scout/ScoutLoyalSite_R3@2x.png')
	}}

	{{ boot.img(
		'scout/Scout_Rewards@2x.png')
	}}

	<div class="section">
		{% call boot.row ('','Email') -%}
			<p>Pre-launch, launch, and post-launch emails were developed to introduce and maintain engagement in the program.</p>
		{%- endcall %}
	</div>

	{{ boot.imgSm(
		'scout/Scout_Email1@2x.png')
	}}

	{{ boot.imgSm(
		'scout/Scout_Email2@2x.png')
	}}

	<div class="section">
		{% call boot.row ('', 'Print') -%}
			<p>The client also requested a few print materials to support the launch, including a step-by-step guide that instructs how the site works, a loyalty card, and postcard to spread the word.</p>
		{%- endcall %}
	</div>

	{#
		if the imgFull macro is refactored
		and put in a column container, just add
		'style="background-color: #40403e;"'
		as a second parameter in the call below
	#}
	{{ boot.imgFull(
		'scout/Group_5@2x.png')
	}}

{% endblock description %}
